body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    font-size: 18px;
}


.box {
    width: 150px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.black-box {
    background-color: black;
}

.pink-box {
    background-color: pink;
}

.lightblue-box {
    background-color: lightblue;
}